body{
    /* Background pattern from Toptal Subtle Patterns */
    margin: 0;
    padding: 0;
    background-image: url("../img/background.png");
}

.fade{
    margin-top: 30vh;
    height: 40vh;
    background-image: linear-gradient(80deg , red,gold,royalblue,lime,royalblue,gold, red);
    background-size: 5500%;

    animation: move 6s linear infinite;
}

@keyframes move{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 100% 0;
    }
}